.features-section {
    margin-top: 20px;
    text-align: center;
  }
  
  .slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
  }
  
  .mySlides {
    display: none; /* Hide all slides by default */
  }
  
  .mySlides img {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
  }
  
  .active {
    display: block; /* Show the active slide */
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Dark background on hover */
  }