.app-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
  }
  
  .app-header {
    background-color: #4CAF50; /* Example color */
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .app-header nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .app-header nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  .app-main {
    padding: 20px;
  }
  
  .hero-section {
    background-color: #f4f4f4; /* Example color */
    padding: 20px;
    text-align: center;
  }
  
  /* .carousel-item{
    max-width: 100%;
    height:auto;
  } */
  
  .app-footer {
    background-color: #8f9396; /* Example color */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    min-height: 20vh;
    width: 100%;
  }